.places-to-visit {
    background-color: var(--beige);
}

.places-to-visit__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 800px;
    padding: 2rem 0rem 0rem 0rem;
}

.places-to-visit__list_item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.places-to-visit__list_title {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}