.authors {
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-sizing: border-box;
    overflow: hidden;

    @media (min-width: 768px) {
        flex-direction: row;
        gap: 4rem;
        min-height: 100vh;
        height: auto;

        & > * {
            flex: 1;
            width: 50%;
            max-width: 100%;
            box-sizing: border-box;
        }
    }
    
    @media (min-width: 992px) {
        gap: 5rem;
    }
    
    @media (min-width: 1200px) {
        gap: 6rem;
    }
}

.authors__img_desktop {
    display: none;
    width: 40%;
    max-width: 40%;
    height: 40%;
    max-height: 80vh;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    @media (min-width: 768px) {
        display: block;
    }
}

.authors__img_mob {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    @media (min-width: 768px) {
        display: none;
    }
}

.authors__quote {
    font-style: italic;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

.authors__br {
    display: block;

    @media (min-width: 768px) {
        display: none;
    }
}