.hero {
    position: relative;
    
    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: var(--beige);
    }

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        display: grid;
        gap: 2rem;
        align-items: center;
        height: 100vh;
        background-color: var(--beige);
    }
}

.hero__content {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1000px;
    position: relative;
    text-align: center;
    align-items: center;
    flex: 1;

    @media (min-width: 768px) {
        padding: 2rem 3rem 2rem 6rem;
        height: auto;
        text-align: left;
        align-items: flex-start;
        color: var(--main-text);
    }
}

.hero__title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;

    @media (min-width: 768px) {
        font-size: clamp(2rem, 5vw, 4rem);
        max-width: 400px;
    }
}

.hero__title_accent {
    text-transform: uppercase;
    font-weight: 700 !important;
}

.hero__description {
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.hero__button {
    display: flex;
    justify-content: center !important;
    margin-top: 1.5rem;
}

.hero__image {
    width: 100%;
    object-fit: cover;

    @media (max-width: 767px) {
        height: 40vh;
        position: relative !important;
    }

    @media (min-width: 768px) {
        height: 100%;
    }
}