.daily-schedule__grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-sizing: border-box;

    @media (min-width: 768px) {
        flex-direction: row;
        gap: 4rem;

        & > * {
            flex: 1;
            width: 50%;
            max-width: 100%;
            box-sizing: border-box;
        }
    }
    
    @media (min-width: 992px) {
        gap: 5rem;
    }
    
    @media (min-width: 1200px) {
        gap: 6rem;
    }
}

.daily-schedule__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 700px;
    width: 100%;
    box-sizing: border-box;
}

.daily-schedule__list-item {
    font-size: clamp(1rem, 2vw + 0.5rem, 1.5rem);
}

.daily-schedule__text {
    color: var(--gray);
    font-style: italic;
    max-width: 700px;
    width: 100%;
    box-sizing: border-box;
}

.daily-schedule__video {
    width: 100%;
    height: auto;
    border-radius: var(--radius);
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    max-width: 100%;

    @media (min-width: 768px) {
        flex-shrink: 0;
        max-height: 800px;
        max-width: 600px;
        width: 100%;
        aspect-ratio: 3/4;
    }
    
    @media (min-width: 992px) {
        max-width: 650px;
    }
    
    @media (min-width: 1200px) {
        max-width: 700px;
    }
}