.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: var(--off-white);
    transition: transform 0.2s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button:hover {
    transform: scale(1.1);
}

.button_small {
    width: 32px;
    height: 32px;
    padding: 6px;
}

.button_medium {
    width: 58px;
    height: 58px;
    padding: 12px;
}

.button_large {
    width: 64px;
    height: 64px;
    padding: 6px;
}

.icon {
    width: 100%;
    height: 100%;
}
