.logo {
  font-size: clamp(0.75rem, 5vw + 1rem, 1.3rem);
  font-weight: 700;
  color: var(--deep-purple);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: row;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.logo:hover {
  color: #8B4513;
}

.logo__image {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.logo__text {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

