@tailwind base;
@tailwind components;
@tailwind utilities;

.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

:root {
  --off-white: #FDFCF6;
  --beige: #F4E4C5;
  --gray: #B2B4C7;
  --deep-purple: #001A3D;
  --orange: #E9A662;
  --green: #718C6B;
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  color: var(--deep-purple);
  background: var(--off-white);
  font-family: var(--font-montserrat);
}

::selection {
  background-color: var(--green);
  color: var(--off-white);
}

::-moz-selection {
  background-color: var(--green);
  color: var(--off-white);
}
