.what-to-expect__items {
    width: 100%;
}

.what-to-expect__grid {
    display: none;

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

.what-to-expect__title {
    max-width: 900px;
}

.what-to-expect__carousel {
    display: block;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;

    @media (min-width: 768px) {
        display: none;
    }
}