.who-is-it-for {
    background-color: var(--beige);
    box-sizing: border-box;
    overflow: hidden;
}

.who-is-it-for__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-sizing: border-box;

    @media (min-width: 768px) {
        flex-direction: row;
        gap: 2rem;
        margin-top: 4rem;
    }
    
    @media (min-width: 992px) {
        gap: 3rem;
    }
    
    @media (min-width: 1200px) {
        gap: 4rem;
    }
}

.who-is-it-for__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;

    @media (min-width: 768px) {
        flex-direction: row;
        gap: 2rem;
    }
}

.who-is-it-for__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.who-is-it-for__item-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);

    @media (min-width: 768px) {
        width: 150px;
        height: 150px;
    }
}

.who-is-it-for__video-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
        flex-direction: row;
        gap: 2rem;
        margin-top: 4rem;
        max-width: 1000px;
        height: 100%; /* Растягиваем на всю высоту */
    }
}

.who-is-it-for__video,
.who-is-it-for__video-quote {
    flex: 1; /* Равномерное распределение */
    aspect-ratio: 9 / 14; /* Соотношение сторон */
    max-height: 70vh; /* Не превышаем высоту экрана */
    max-width: 500px; /* Ограничиваем ширину */
    border-radius: var(--radius);
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 1rem;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.who-is-it-for__video-quote {
    background-color: var(--green);
    color: var(--off-white);
    padding: 2rem;
    justify-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;

    @media (max-width: 768px) {
        max-height: 400px;
    }
}

.who-is-it-for__video-text {
    font-size: clamp(1rem, 2vw + 0.5rem, 1.3rem);
    font-style: italic;
}